body {
	margin: 0;
	background-color: grey;
}

#nav-bar {
	width: 100%;
	background-color: tomato;
	overflow: hidden;
}

#logo {
	margin-left: 3%;
}

#form-inputs {
	width: 50%;
	height: 50px;
	margin: 0 auto;
	margin-top: 5%;
}

#text-input {
	margin-top: 0;
	border: none;
	width: 70%;
	font-size: 20px;
	border-radius: 6px;
	padding: 8px;
}

#submit-button {
	margin-top: 0;
	border: none;
	width: 20%;
	font-size: 20px;
	border-radius: 6px;
	padding: 8px;
}

.raw-table {
	margin-left: 5%;
	margin-right: 5%;
	border-collapse: collapse;
	width: 90%;
	border: 1px solid black;
}

.table-head {
	text-align: center;
}

.column1 {
	width: 20%;
	border: 1px solid black;
}

.column2 {
	width: 70%;
	word-break: break-word;
	border: 1px solid black;
}
