body {
	margin: 0;
	background-color: grey;
}

#nav-bar {
	width: 100%;
	background-color: tomato;
	overflow: hidden;
}

#logo {
	margin-left: 3%;
}

#form-inputs {
	width: 50%;
	height: 50px;
	margin: 0 auto;
	margin-top: 5%;
}

#text-input {
	margin-top: 0;
	border: none;
	width: 70%;
	font-size: 20px;
	border-radius: 6px;
	padding: 8px;
}

#submit-button {
	margin-top: 0;
	border: none;
	width: 20%;
	font-size: 20px;
	border-radius: 6px;
	padding: 8px;
}

.raw-table, .report-table {
	margin-top: 10%;
	margin-left: 5%;
	margin-right: 5%;
	border-collapse: collapse;
	width: 90%;
	border: 1px solid black;
}

.table-head-up {
	text-align: center;
	font-weight: bold;
}

.table-head-down {
	text-align: center;
	font-weight: bold;
	border: 1px solid black;
}

div {
	text-align: center;
}

#img-secure {
	list-style-image: url('../imgs/secure.jpg');
}

#img-warning {
	list-style-image: url('../imgs/warning.png');
}

#img-not_found {
	list-style-image: url('../imgs/not_found.png')
}

.report-column1, .report-column2 {
	width: 25%;
	border: 1px solid black;
}

.report-column3 {
	width: 40%;
	border: 1px solid black;
	word-break: break-word;
}

.raw-column1 {
	width: 20%;
	border: 1px solid black;
	padding: 3px 10px 3px 10px;
}

.raw-column2 {
	width: 70%;
	word-break: break-word;
	border: 1px solid black;
	padding: 3px 10px 3px 10px;
}
