body {
	margin: 0;
	background-color: #4DB6AC;
	font-family: "Sans-Serif";
	font-size: 14px;
	color: #212121;
}

#nav-bar {
	width: 100%;
	background-color: #006064;
	overflow: hidden;
}

#logo {
	margin-left: 5%;
	color: #FFF;
}

#form-inputs {
	width: 50%;
	height: 50px;
	margin: 0 auto;
	margin-top: 5%;
}

#text-input {
	margin-top: 0;
	border: none;
	width: 70%;
	font-size: 20px;
	border-radius: 6px;
	padding: 8px;
}

#text-input:focus {
	outline-color: #4CAF50;
}

#submit-button {
	margin-top: 0;
	border: none;
	width: 20%;
	font-size: 20px;
	border-radius: 6px;
	padding: 8px;
	background-color: #4CAF50;
	color: #FFF;
	font-weight: bold;
}

#submit-button:hover {
	background-color: #FF5722;
}

p {
	background-color: #FFF;
	border-radius: 10px;
	margin-left: 5%;
	margin-right: 5%;
	padding: 3px;
}

.report-table, .raw-table {
	margin-top: 6%;
	margin-left: 5%;
	margin-right: 5%;
	border-collapse: collapse;
	width: 90%;
	border: 1px solid #4DB6AC;
	background-color: #FFF;
}

.raw-table {
	margin-bottom: 5%;
}

.table-head-up {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.table-head-down {
	text-align: center;
	font-weight: bold;
	border: 1px solid #4DB6AC;
}

div {
	text-align: center;
}

#img-secure {
	list-style-image: url('../imgs/secure.jpg');
}

#img-warning {
	list-style-image: url('../imgs/warning.png');
}

#img-not_found {
	list-style-image: url('../imgs/not_found.png')
}

.report-column1 {
	text-indent: 10px;
}

.report-column1, .report-column2 {
	width: 25%;
	word-break: break-word;
}

.report-column3 {
	width: 40%;
	word-break: break-word;
}

.raw-column1, .raw-column2, .report-column1, .report-column2, .report-column3 {
	border: 1px solid #4DB6AC;
	padding: 7px 10px 7px 10px;
}

.raw-column1 {
	width: 20%;
}

.raw-column2 {
	width: 70%;
	word-break: break-word;
}
